{% extends 'main/base.html' %}

{% block content %}
    <h2>Important Events – Term Three (2024–2025 Academic Year)</h2>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>28th April</td><td>Monday</td><td>Arrival of Students and the Search Exercise</td></tr><br>
            <tr><td>1st May</td><td>Thursday</td><td>Holiday (Labour Day)</td></tr><br><br>
            <tr><td>11th May</td><td>Sunday</td><td>Vocation Sunday</td></tr><br>
            <tr><td>12th May</td><td>Monday</td><td>Commencement of BT Archdiocese MSCE Mock Examinations</td></tr><br>
            <tr><td>14th May</td><td>Wednesday</td><td>Holiday (Kamuzu Day)</td></tr><br>
            <tr><td>20th May</td><td>Tuesday</td><td>Science Department Meeting</td></tr><br>
            <tr><td>21st May</td><td>Wednesday</td><td>Social Sciences Department Meeting</td></tr><br>
            <tr><td>22nd May</td><td>Thursday</td><td>Languages Department Meeting</td></tr><br>
            <tr><td>24th May</td><td>Saturday</td><td>Disco</td></tr><br>
            <tr><td>26th May</td><td>Monday</td><td>End of BT Archdiocese Mock Examinations</td></tr><br>
            <tr><td>27th May</td><td>Tuesday</td><td>General Assembly</td></tr><br>
            <tr><td>30th May</td><td>Friday</td><td>Form 2 Mass Celebration</td></tr><br>
            <tr><td>30th May</td><td>Friday</td><td>JCE Candidates Orientation</td></tr><br>
            <tr><td>30th May</td><td>Friday</td><td>MSCE Academic Guidance and Counselling</td></tr><br>
            <tr><td>1st June</td><td>Sunday</td><td>Music Album Launch at Chisitu Parish</td></tr><br>
            <tr><td>3rd June</td><td>Tuesday</td><td>Commencement of JCE Examinations</td></tr><br>
            <tr><td>12th June</td><td>Thursday</td><td>End of JCE Exams</td></tr><br>
            <tr><td>13th June</td><td>Friday</td><td>Form 2 Students Departure</td></tr><br>
            <tr><td>20th June</td><td>Friday</td><td>Graduation for 2025 MSCE Candidates</td></tr><br>
            <tr><td>25th June</td><td>Wednesday</td><td>Management Meeting</td></tr><br>
            <tr><td>26th June</td><td>Thursday</td><td>Staff Meeting</td></tr><br>
             <tr><td>27th June</td><td>Friday</td><td>PTA Executive Meeting</td></tr><br>
            <tr><td>27th June</td><td>Friday</td><td>Form 4 Mass Celebration</td></tr><br>
            <tr><td>27th June</td><td>Friday</td><td>Orientation of MSCE Candidates</td></tr><br>
            <tr><td>30th June</td><td>Monday</td><td>General Assembly</td></tr><br>
            <tr><td>1st July</td><td>Tuesday</td><td>Commencement of 2025 MSCE Examinations</td></tr><br>
            <tr><td>7th July</td><td>Monday</td><td>Holiday (Independence Day)</td></tr><br>
            <tr><td>8th July</td><td>Tuesday</td><td>Commencement of Form 1 and Form 3 Standardized Tests</td></tr><br>
            <tr><td>24th July</td><td>Thursday</td><td>End of MSCE Exams and Standardized Tests</td></tr><br>
            <tr><td>24th July</td><td>Thursday</td><td>Last General Assembly</td></tr><br>
            <tr><td>24th July</td><td>Thursday</td><td>Closing Disco</td></tr><br>
            <tr><td>25th July</td><td>Friday</td><td>Students Departure</td></tr><br>
            <tr><td>25th July</td><td>Friday</td><td>Staff Meeting</td></tr>   
        </tbody>
    </table>
    <h2>If you have questions, comments or observations please contact 0995787592 immediately.</h2>
{% endblock %}
