{% extends 'main/base.html' %}

{% block content %}
    <h2>Important Events – Term Three (2024-2025 Academic Year)</h2>
        <li><strong>Monday – 28th April:</strong> Arrival of Students and Search Exercise</li>
        <li><strong>Thursday – 1st May:</strong> Holiday (Labour Day)</li>
        <li><strong>Sunday – 11th May:</strong> Vocation Sunday</li>
        <li><strong>Monday – 12th May:</strong> Commencement of BT Archdiocese MSCE Mock Examinations</li>
        <li><strong>Wednesday – 14th May:</strong> Holiday (Kamuzu Day)</li>
        <li><strong>Tuesday – 20th May:</strong> Science Department Meeting</li>
        <li><strong>Wednesday – 21st May:</strong> Social Sciences Department Meeting</li>
        <li><strong>Thursday – 22nd May:</strong> Languages Department Meeting</li>
        <li><strong>Saturday – 24th May:</strong> Disco</li>
        <li><strong>Monday – 26th May:</strong> End of BT Archdiocese Mock Examinations</li>
        <li><strong>Tuesday – 27th May:</strong> General Assembly</li>
        <li><strong>Wednesday – 28th May:</strong> Management Meeting</li>
        <li><strong>Thursday – 29th May:</strong> Staff Meeting</li>
        <li><strong>Friday – 30th May:</strong> Form 2 Mass Celebration</li>
        <li><strong>Friday – 30th May:</strong> JCE Candidates Orientation</li>
        <li><strong>Friday – 30th May:</strong> MSCE Academic Guidance and Counselling</li>
        <li><strong>Tuesday – 3rd June:</strong> Commencement of JCE Examinations</li>
        <li><strong>Thursday – 12th June:</strong> End of JCE Exams</li>
        <li><strong>Friday – 13th June:</strong> Form 2 Students Departure</li>
        <li><strong>Friday – 13th June:</strong> PTA Executive Meeting</li>
        <li><strong>Friday – 20th June:</strong> Graduation for 2025 MSCE Candidates</li>
        <li><strong>Friday – 27th June:</strong> Form 4 Mass Celebration</li>
        <li><strong>Friday – 27th June:</strong> Orientation of MSCE Candidates</li>
        <li><strong>Monday – 30th June:</strong> General Assembly</li>
        <li><strong>Tuesday – 1st July:</strong> Commencement of 2025 MSCE Examinations</li>
        <li><strong>Monday – 7th July:</strong> Holiday (Independence Day)</li>
        <li><strong>Tuesday – 8th July:</strong> Commencement of Form 1 and Form 3 Standardized Tests</li>
        <li><strong>Thursday – 24th July:</strong> End of MSCE Exams and Standardized Tests</li>
        <li><strong>Thursday – 24th July:</strong> Last General Assembly</li>
        <li><strong>Thursday – 24th July:</strong> Closing Disco</li>
        <li><strong>Friday – 25th July:</strong> Students Departure</li>
        <li><strong>Friday – 25th July:</strong> Staff Meeting</li>
{% endblock %}
